@{
    ViewBag.Title = "Home Page";
}


<br />
<div class="row">
    <div class="col-sm-2">
        <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=46.414382,10.013988&heading=151.78&pitch=-0.76&key=AIzaSyAlZA6KjskEkGM7m7z0SsfKAE6kGLucTWA" width="600" height="300">
    </div>
    <div class="col-sm-1">
        " "
    </div>
    <div class="col-sm-2">
        <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=46.414382,10.013988&heading=151.78&pitch=-0.76&key=AIzaSyAlZA6KjskEkGM7m7z0SsfKAE6kGLucTWA" width="600" height="300">
    </div>
    <div class="col-sm-1">
        " "
    </div>
    <div class="col-sm-2">
        <img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=-23.7453163,-46.6952497&heading=151.78&pitch=-0.76&key=AIzaSyAlZA6KjskEkGM7m7z0SsfKAE6kGLucTWA" width="600" height="300">
    </div>
</div>
